@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-white-100: rgba(255, 255, 255);
  --bg-white-200: #f9f9f9;
  --bg-white-400: rgba(245, 248, 255);
  --bg-white-500: rgba(222, 232, 255);
  --bg-black-300: #191919;
  --bg-blue: rgba(0, 87, 255);
  --text-light: #707070;
  --border-color: rgba(232, 232, 232);
  --hover-color: rgba(222, 232, 255);
  --hover-color-blue: rgba(0, 62, 203);
  --hover-color-grey: #e8e8e8;
  --hover-color-black: #191919;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
ul {
  list-style: none;
}
.ease-in {
  transition: background-color 200ms ease-in-out, border-width 200ms ease-in-out,
    border-color 200ms ease-in-out;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  width: fit-content;
  border-radius: 100px;
  font-weight: 500;
  margin: 0 0.6em 0 0.6em;
}
.text-center {
  text-align: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
nav {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 6;
  background-color: var(--bg-white-100);
}
.navigationLeftSection {
  margin-left: 1.2em;
  height: 3.5em;
}
.behanceLogo {
  height: 1em;
}
.coreNavigationItemsWrapper {
  width: 22em;
  margin-left: 0.7em;
}
.coreNavigationItems {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.coreNavigationItems li {
  height: 4em;
  position: relative;
}
.coreNavigationItems li:hover {
  cursor: pointer;
}
.coreNavigationItems li::after {
  background-color: var(--bg-black-300);
  content: "";
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 100%;
  transition: transform 0.15s, opacity 0.15s;
}
.coreNavigationItems li:hover::after {
  opacity: 1;
}
.coreNavigationNestedItem {
  margin-left: 2.4em;
}
.navigationRightSection {
  margin-right: 1em;
}
.loginButton {
  background-color: var(--bg-white-400);
  color: var(--bg-blue);
  border: 1px solid var(--bg-white-500);
  padding: 0.5em 1.4em 0.5em 1.4em;
}
.loginButton:hover {
  background-color: var(--hover-color);
}
.signupButton {
  background-color: var(--bg-blue);
  color: var(--bg-white-400);
  border: none;
  padding: 0.5em 1.4em 0.5em 1.4em;
}
.signupButton:hover {
  background-color: var(--hover-color-blue);
}
.adobeLogo {
  height: 1.5em;
  margin-left: 0.6em;
}

/* ---------------------------------------- */

.pageBanner {
  width: 100vw;
  overflow: hidden;
  height: min(74vh, 800px);
}
.imgGridWrapper {
  display: grid;
  grid-template-columns: repeat(11, 36px);
  grid-template-rows: repeat(16, 36px);
  opacity: 0.5;
  height: 576px;
  overflow: hidden;
}
.leftGridImg:nth-child(1) {
  grid-column: 1 / 5;
  grid-row: 2 / 6;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.35s ease-in-out forwards;
  opacity: 0;
}
.leftGridImg:nth-child(2) {
  grid-column: 6 / 9;
  grid-row: 1 / 4;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.4s ease-in-out forwards;
  opacity: 0;
}
.leftGridImg:nth-child(3) {
  grid-column: 2 / 5;
  grid-row: 7 / 10;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.45s ease-in-out forwards;
  opacity: 0;
}
.leftGridImg:nth-child(4) {
  grid-column: 6 / 11;
  grid-row: 5 / 10;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.5s ease-in-out forwards;
  opacity: 0;
}
.leftGridImg:nth-child(5) {
  grid-column: 2 / 7;
  grid-row: 11 / 16;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.55s ease-in-out forwards;
  opacity: 0;
}
.leftGridImg:nth-child(6) {
  grid-column: 8 / 12;
  grid-row: 11 / 15;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.6s ease-in-out forwards;
  opacity: 0;
}
.pageBannerMidSection {
  flex-shrink: 0;
  flex-direction: column;
  margin-right: 3rem;
  margin-left: 3rem;
  height: 80vh;
}
.pageBannerHeader {
  letter-spacing: -3px;
  font-size: 6em;
  line-height: 85px;
  font-weight: 500;
  max-width: 70vw;
  animation: PageBanner-fadeIn 0.5s 0.25s ease-in-out forwards;
  opacity: 0;
}
.pageBannerHeader spaǹ {
  color: var(--bg-blue);
}
.pageBanner-subHeader {
  margin-top: 1.2em;
  font-size: 1.3em;
  max-width: 826px;
  width: 100%;
  color: var(--text-light);
  animation: PageBanner-fadeIn 0.5s 0.3s ease-in-out forwards;
  opacity: 0;
}
.buttonWrapper {
  margin-top: 3em;
}
.buttonPrimary {
  padding: 0.5em 1.4em 0.5em 1.4em;
  background-color: var(--bg-blue);
  color: var(--bg-white-400);
  border: none;
  font-size: 1.05em;
}
.buttonPrimary:hover {
  background-color: var(--hover-color-blue);
}
.buttonTertiary {
  padding: 0.5em 1.4em 0.5em 1.4em;
  background-color: var(--bg-white-400);
  color: var(--bg-blue);
  border: 1px solid var(--bg-white-500);
  font-size: 1.05em;
}
.buttonTertiary:hover {
  background-color: var(--hover-color);
}
.rightGridImg:nth-child(1) {
  grid-column: 3 / 6;
  grid-row: 5 / 8;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.35s ease-in-out forwards;
  opacity: 0;
}
.rightGridImg:nth-child(2) {
  grid-column: 7 / 12;
  grid-row: 1 / 6;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.4s ease-in-out forwards;
  opacity: 0;
}
.rightGridImg:nth-child(3) {
  grid-column: 1 / 6;
  grid-row: 9 / 14;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.45s ease-in-out forwards;
  opacity: 0;
}
.rightGridImg:nth-child(4) {
  grid-column: 7 / 11;
  grid-row: 7 / 11;
  width: 100%;
  animation: PageBanner-fadeIn 0.5s 0.5s ease-in-out forwards;
  opacity: 0;
}
.rightGridImg:nth-child(5) {
  grid-column: 7 / 12;
  grid-row: 12 / 16;
  width: 100%;
  animation: PageBanner-fadeIn.5s 0.55s ease-in-out forwards;
  opacity: 0;
}
.searchBar {
  position: sticky;
  top: 34px;
  width: 100%;
  z-index: 3;
  background-color: var(--bg-white-100);
  padding: 20px 0 20px 0;
}
.filterButton {
  white-space: nowrap;
  background-color: var(--bg-white-100);
  border: 1px solid var(--border-color);
  font-size: 1.1em;
  height: 38px;
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.filterButton img {
  width: 1em;
  margin-right: 0.5em;
}
.searchFormWrapper {
  flex: 4 1 90%;
  height: 48px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  background-color: var(--bg-white-200);
}
.searchIcon {
  margin-left: 1em;
}
.searchFormWrapper form {
  height: 100%;
  width: 100%;
}
input[type="search"]:focus {
  outline: none;
}
.searchFormWrapper input {
  width: 100%;
  height: 100%;
  padding: 0 0 0 2em;
  border: none;
  background: none;
}
.searchButton {
  background-color: var(--bg-white-100);
  border: 1px solid var(--border-color);
  white-space: nowrap;
  padding: 0.5em 1.5em 0.5em 1.5em;
}
.searchButton:hover {
  background-color: var(--hover-color-grey);
}
.searchImageIcon {
  margin: 0 0.3em 0 0;
}
.recommendedButton {
  background-color: var(--bg-white-100);
  border: 1px solid var(--border-color);
  padding: 0.8em 1.5em 0.8em 1.5em;
  transition: border-color 0.2s linear;
}
.recommendedButton:hover {
  border: 1px solid var(--hover-color-black);
}

/* ------------------------------------------------- */

.cardsContent-gridWrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.cardBox {
  margin: 1em 0.5em 1em 0.5em;
  position: relative;
}
.folderIcon {
  margin: 0 0.4em 0 0;
}
.upper-card {
  position: relative;
  line-height: 0;
}
.overlay-box {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  top: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}
.upper-card .overlay-box:hover {
  opacity: 1;
}
.saveButton {
  position: absolute;
  border: 1px solid transparent;
  backdrop-filter: blur(5px);
  background: rgba(25, 25, 25, 0.65);
  color: var(--bg-white-100);
  font-size: 0.8em;
  padding: 0.4em 0.6em 0.4em 0.6em;
  top: 4%;
  left: 2%;
}
.cardBox img {
  width: 100%;
  height: 100%;
}
.projectCover-details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.2em;
}
.titleOwner {
  font-weight: 600;
  font-size: 0.8em;
}
.subHeading {
  font-size: 0.8em;
}
.projectCover-stats {
  display: flex;
  justify-content: end;
  font-size: 0.8em;
  flex-shrink: 0;
}
.likes {
  margin: 0 1em 0 1em;
}

/* -------------------------------------- */

.footerLogo {
  width: 10em;
}
footer {
  background-color: var(--bg-black-300);
  color: var(--bg-white-100);
}
.mainFooterContainer {
  display: flex;
  padding: 5.5em 2em 0;
}
.footerBehanceLinkContainer {
  flex: 2;
}
.footerSectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2em 2em;
  padding-bottom: 4.2em;
  font-size: 0.96em;
}
.footerSectionHeader {
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 40px;
}
.footerItem {
  margin-bottom: 19px;
}
.footerItem:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bottomFooter {
  font-size: 0.8em;
  font-weight: 200;
}
.StaticFooter-divider {
  background: #707070;
  margin: 0;
  height: 1px;
  border-width: 0px;
}
#adobeLogo {
  transform: translateY(5px);
  height: 1.5rem;
}
.bottomFooter-adobeInfo li {
  margin: 1rem;
}
.bottomFooter-adobeInfo li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.moreFooterLinks {
  display: flex;
  align-items: center;
}
.moreFooterLinks li {
  margin: 1rem;
}
.moreFooterLinks li:hover {
  cursor: pointer;
  text-decoration: underline;
}

@keyframes PageBanner-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(55px);
  }
  66% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
